.coin-display {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Sora', sans-serif;
    background-color: rgba(34, 34, 34, 0.8);
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    padding-bottom: 0;
    color: #e9c46a;
    width: 90%;
}

.coin-display img {
    width: 106px;
    display: block;
    margin: 0 auto;
}

.top-info-display {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding-bottom: 10px;
}

.bottom-info-display {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.balance-display {
    display: flex;
    justify-content: center;
    align-items: center;
}