@font-face {
  font-family: "belligerent";
  src: url("../../assets/fonts/belligerent.ttf");
}

/* index.css or styles.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-content {
    color: #e9c46a;
    background-color: rgba(20, 33, 61, 0.5);
    font-family: 'belligerent', sans-serif;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0, 0.8);
    margin: 20px;
    padding: 20px;
    border: 1px solid #e9c46a;
  }

  .last-draw-title {
    font-size: 44px;
    margin-right: 20px;
    color: #e9c46a;
    font-size: 30px;
    display: block;
    padding-bottom: 10px;
    margin-left: 5px;
  }
  
  .draw-number {
    margin: 0 5px;
    font-size: 44px;
    border: 2px solid #e9c46a;
    color: #e9c46a;
    border-radius: 29px;
    display: inline-block;
    text-align: center;
    width: 54px;
    height: 46px;
    padding-top: 8px;
  }

  .question-button {
    width: 80px;
    height: 80px;
    border: 2px solid #222;
    border-radius: 40px;
    background-color: #e9c46a;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0, 0.8);
    margin-right: 20px;
    cursor: pointer;
    font-family: 'belligerent', sans-serif;
    font-size: 44px;
  }
  
  .coin-display {
    display: flex;
    align-items: center;
  }
  
  .number-inputs input {
    width: 50px;
  }
  
  .play-type input {
    margin: 0 5px;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  