@font-face {
  font-family: "belligerent";
  src: url("../../assets/fonts/belligerent.ttf");
}

.table-container {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table-title {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}
.section-title {
  background-color: #e9c46a;
  color: #222;
  font-weight: bold;
  text-align: left;
}
.row-title {
  text-align: left;
}
.row-subtitle {
  text-align: left;
}

.closeButton {
  background-color: #e9c46a;
  color: #222;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Sora', sans-serif;
  font-size: 24px;
  width: 90%;
  border: none;
  border-radius: 8px;
}

/* index.css or styles.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: #222;
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
  }
  
  .header-content {
    color: #e9c46a;
    background-color: rgba(34, 34, 34, 0.8);
    font-family: 'Sora', sans-serif;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0, 0.8);
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 4px;
    border: 2px solid #e9c46a;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .last-draw-title {
    font-size: 18px;
    color: #e9c46a;
    display: block;
    margin-left: 5px;
  }
  
  .draw-number {
    margin: 0 5px;
    font-size: 24px;
    border: 2px solid #222;
    color: #222;
    border-radius: 29px;
    display: inline-block;
    text-align: center;
    width: 34px;
    height: 34px;
    background-color: white;
  }

  .question-button {
    width: 22px;
    height: 22px;
    border: 2px solid #222;
    border-radius: 22px;
    background-color: #e9c46a;
    cursor: pointer;
    font-family: 'Sora', sans-serif;
    color: #222;
    font-size: 16px;
    padding: 0;
    margin-left: 6px;
  }
  
  .coin-display {
    display: flex;
    align-items: center;
  }
  
  .number-inputs input {
    width: 50px;
  }
  
  .play-type input {
    margin: 0 5px;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
.rolling-number {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.number-container {
  padding-top: 2px;
  animation: ease-in 0.5s linear;
}