.popup-overlay-info-play {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content-info-play {
    background: #222;
    font-family: 'Sora', sans-serif;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e9c46a;
  }

  .instructions-headline {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
  }

  .instructions-h1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .instructions-body {
    font-size: 10px;
    font-weight: lighter;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
  }

  .instructions-list {
    padding-left: 8px;
    font-weight: normal;
    display: flex;
    align-items: baseline;
  }

  .instructions-list p {
    margin: 0;
    margin-right: 4px;
  }