/* ProgressBar.css */
.progress-container {
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 2px;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #e9c46a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
  }
  