body {
  margin: 0;
  background-color: #222;
}

/* TABS */
.app-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 66px);
  font-family: 'Sora', sans-serif;
}

.container {
  margin-bottom: 80px;
}

.tab-content {
  flex: 1;
  background-color: #222; 
  overflow-y: auto;
  /* background: linear-gradient(0deg, rgb(34, 34, 34, 0.3), rgb(34, 34, 34, 0.3)), url(/src/assets/images/background.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tab-bar {
  display: flex;
  justify-content: space-around;
  background-color: #222;
  border-top: 1px solid black;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tab-link {
  text-align: center;
  color: #666;
  text-decoration: none;
  flex: 1;
}

.tab-link i {
  display: block;
  font-size: 24px;
}

.tab-link span {
  display: block;
  font-size: 16px;
  margin-top: 4px;
}

.tab-link.active {
  color: #e9c46a;
}

.tab-link.active i {
  color: #e9c46a;
}

.autodraw-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 10px;
  color: #e9c46a;
}

.autodraw-label {
  margin-right: 10px;
  font-size: 16px;
}

.autodraw-switch {
  width: 20px;
  height: 20px;
}